<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="layouts/front :: layout(content = ~{::section}, title = 'Meeting Edit', menu = 'meeting')">
<body>
<section>
    <div class="meeting-area">
        <div class="col-12 mb-3">
            <form th:action="@{/meeting/{id}/update(id=${meeting.id})}" method="POST">
                <div class="row">
                    <div class="col-12 mb-3">
                        <label class="mb-1" for="title">Title</label>
                        <input id="title" th:name="title" class="form-control" type="text" placeholder="Enter title" th:value="${meeting.title}">
                    </div>
                    <div class="col-12 mb-3">
                        <label class="mb-1" for="userIds">Select User(s)</label>
                        <select id="userIds" name="userIds[]" class="form-select select2" data-placeholder="Choose User(s)" multiple>
                            <option></option>
                            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}" th:selected="${#lists.contains(meeting.userIds, user.id)}"></option>
                        </select>
                    </div>
                    <div class="col-12 mb-3">
                        <button class="btn btn-primary float-end">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>